* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 90rem;
  margin: auto;
}
.navbar {
  display: flex;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.625rem;
}
.logo-svg {
  width: 9rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding-top: 5.875rem;
  min-height: 100vh;
}
.header-image {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}
.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.phone-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
}
.header-button {
  height: 100%;
}

.seporator {
  width: 9.375rem;
  height: 2px;
  background: #5c8ee6;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.875rem 0;
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}
.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
}
.header-features-item {
  padding: 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.header-features-text {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
}
.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}
.steps-item {
  min-width: 20.625rem;
}
.steps-num {
  font-family: "Bebas Neue";
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}
.steps-num:after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.step-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
  text-decoration: none;
}
.step-link::before {
  content: "";
  background: #5c8ee6;
  height: 1px;
  width: 2.5rem;
  margin-right: 1.25rem;
}
@media (max-width: 1750px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1640px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1500px) {
  html {
    font-size: 13.5px;
  }
}
@media (max-width: 1450px) {
  html {
    font-size: 13.2px;
  }
  .header-nav-item {
    margin-right: 2rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-logo {
    padding: 0px 2rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .button {
    padding: 1.5625rem 2rem;
  }
}
@media (max-width: 1340px) {
  html {
    font-size: 12.2px;
  }
  .header-nav-item {
    margin-right: 2rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-logo {
    padding: 0px 2rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .button {
    padding: 1.5625rem 2rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 11px;
  }
  .header-nav-item {
    margin-right: 1.875rem;
  }
  .header-nav {
    padding-left: 1.875rem;
  }
  .header-logo {
    padding: 0px 1.875rem;
  }
  .header-phone {
    margin-right: 1.875rem;
  }
  .button {
    padding: 1.5625rem 2rem;
  }
}
