* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
  display: none;
}
.container {
  max-width: 90rem;
  margin: auto;
}
.navbar {
  display: flex;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.625rem;
}
.logo-svg {
  width: 9rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding-top: 5.875rem;
}
.header-image {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -3.4375rem;
  position: relative;
}
.header-image::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(41, 45, 51, 0.75);
  width: 100%;
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0rem 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}
.header-nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}
.header-nav-link:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: -1px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.phone-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #5c8ee6;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 3.125rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.125rem;
}
.navbar-button .button-icon {
  display: none;
}
.header-button {
  height: 100%;
  padding: 1.7rem 3.75rem;
}

.separator {
  width: 9.375rem;
  height: 2px;
  background: #5c8ee6;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 120%;
  margin: 2rem -0.2rem 1.1rem;
  letter-spacing: -0.03rem;
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
  margin-bottom: 2.525rem;
}
.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
  margin-bottom: 0;
}
.header-features-item {
  padding: 1.75rem 3.125rem;
  min-height: 100%;
  width: 18rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.slider-buttons {
  display: none;
  height: 3.55rem;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-features-text {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1.125rem;
}
.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}
.steps-item {
  max-width: 20.625rem;
}
.steps-num {
  font-family: "Bebas Neue";
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}
.steps-num:after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: .625rem;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
}
.step-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
  text-decoration: none;
}
.step-link::before {
  content: "";
  background: #5c8ee6;
  height: .0625rem;
  width: 2.5rem;
  margin-right: 1rem;
  transition: width 0.2s;
}
.step-link:hover:before {
  width: 60px;
}
.steps-buttons {
  display: none;
  height: 2.5rem;
  justify-content: flex-end;
}
.steps-button-next,
.steps-button-prev {
  background: #5c8ee6;
  height: 100%;
  width: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  text-decoration: none;
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
  transition: border 0.2s;
}
.card:hover .card-title {
  color: #5c8ee6;
}
.card:hover {
  border-color: #5c8ee6;
}
.card-content {
  padding: 2.5rem 3.125rem;
}
.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: .625rem;
  transition: color 0.2s;
}
.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 24.625rem;
}
.card-image {
  position: absolute;
  width: 90%;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.trademark-cards {
  display: flex;
}
.trademark-card {
  cursor: pointer;
  flex-basis: 50%;
  text-decoration: none;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-column-gap: 3.125rem;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-template-areas:
    "logo title title"
    "logo text text";
}
.trademark-card-logo {
  width: 100%;
  fill: #828A99;
  grid-area: logo;
}
.trademark-card-title {
  grid-area: title;
  margin: 0;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
}
.trademark-card-text {
  grid-area: text;
  margin-top: .625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}
.trademark-card:hover {
  border-color: #5c8ee6;
}
.trademark-card:hover .trademark-card-logo {
  fill: #5c8ee6;
}
.trademark-card:hover .trademark-card-title {
  color: #5c8ee6;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}
@media (max-width: 1465px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5.8rem;
  }
  .slider-buttons {
    display: flex;
  }
  .steps-buttons {
    display: flex;
  }
  .card {
    flex-basis: 50%;
  }
  .trademark-card {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .navbar-button {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .logo-svg {
    max-width: 10rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem 2.5rem;
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-item {
    margin-bottom: 10.4px;
  }
  .mobile-submenu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292d33;
    border-top: .0625rem solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 160%;
    color: #292d33;
    text-decoration: none;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }
  .trademark-cards {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 4rem;
  }
  .card {
    flex-basis: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-button {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: .13rem;
  }
  .header-features {
    min-height: 11.7rem;
    margin-top: 4.45rem;
  }
  .trademark-card {
    grid-template-areas: 
    "logo title"
    "text text";
  }
}
